@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Monoton&family=PT+Sans&family=PT+Serif&display=swap');

.catalog {
    text-align: center;
    align-items: center;
    margin: 50px 20px;
}

.catalog-list-wrapper {
    display: inline-block;
    align-items: center;
    width: 80%;
}

.catalog-title {
    font-size: 35px;
    color: white;
    text-align: center;
    width: 100%;
    font-family: "Merienda";
}

