.our-mission-box {
    display: flex;
    flex-direction: column;
}

.mission-wrapper {
    margin: 20px 20px;
    display: flex;
    flex-wrap: wrap;    
}

.our-missin-text {
    color: white;
    font-size: 19px;
    font-style: italic;
    width: 40%;
    text-align: center;
}

.our-mission-img {
    border: 1px solid black;
    border-radius: 30px;
    width: 50%;
    margin-left: 70px;
    -webkit-box-shadow: 0px 4px 37px 1px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 37px 1px rgba(201, 12, 12, 0.67);
}