@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Monoton&family=PT+Sans&family=PT+Serif&display=swap');

.home-page {
    display: flex;
    margin: 0 0;
}

.home-message{
    color: white;
    margin-left: 100px;
}

.title {
    font-family: "Merienda";
    font-size: 35px;
    margin-top: 100px;
    padding: 20px 30px;
}

.home-page-img{
    flex-basis: 50%;
    margin: 60px;
    margin-right: 150px;
    -webkit-box-shadow: 0px 4px 37px 1px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 37px 1px rgba(201, 12, 12, 0.67);
}

.top-games-title {
    font-family: "Merienda";
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 25px auto;
}

.top-games-list {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.no-games-added {
    color: white;
    font-family: "Merienda";
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 20px 30px;
}