.main-navigation {
    height: 70px;
    width: 100%;
    background-color: rgb(39, 10, 10);
    /* opacity: 0.5; */
    display: flex;
}

.nav-list-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.nav-item {
    list-style: none;
    border: 1px solid white;
    padding: 7px 10px;
    border-radius: 30px;
    -webkit-box-shadow: -2px 7px 16px 1px rgba(0, 0, 0, 0.67);
    box-shadow: -2px 7px 16px 1px rgba(201, 12, 12, 0.67);
}

.nav-item:hover {
    background-color: rgb(206, 147, 29);
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-style: italic;
}