@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Monoton&family=PT+Sans&family=PT+Serif&display=swap');

.register-form {
    width: 50%;
    margin: 50px auto;
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid white;
    border-radius: 15px;
    -webkit-box-shadow: 0px 4px 37px 1px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 37px 1px rgba(243, 241, 241, 0.8);
}

.register-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-wrapper>h1 {
    margin-bottom: 20px;
    font-size: 50px;
    font-family: "Merienda";
}

.label {
    margin-top: 20px;
    margin-bottom: 5px;
}

.register-input {
    height: 30px;
    width: 50%;
}

.register-input::placeholder {
    text-align: center;
}

.register-input:focus{
    outline: none;
    border: none;
}

.register-button{
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: "Merienda";
    padding: 5px 5px;
}


.register-button:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 6px 5px;
}

.input-check {
    display: none;
    font-size: 13px;
    font-family: "Merienda";
    background-color: rgb(179, 45, 45);
    width: 50%;
    text-align: center;
    border: 1px solid white;
    padding: 5px;
}