.footer {
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    /* background-color:peru ; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color:slategray;
    text-align: center;
 


}

/* footer-text {
} */