.footer {
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(192, 147, 147);
    color:rgb(61, 67, 73);
    text-align: center;
}
