*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../public/images/squid-game-background-8.jpg');
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}